.Rproj.user
.Rhistory
.RData
.Ruserdata
Coyner_Carpenter_EDA.pdf
Coyner_Carpenter_Project-EDA.Rmd
Coyner_Carpenter_ProjectProposal.pdf
DataSources.zip
DataSources/
NHSR_DiagnositicExperiences_of_children_with_ADHD-2015.pdf
NS_DATA_FAQs.pdf
NS_DATA_Formatted_frequencies_codebook.pdf
StatisticsProject.Rproj

